@import url("https://fonts.xz.style/serve/jetbrains-mono.css");

:root {
  --nc-font-sans: "JetBrains Mono", monospace;
  --nc-font-mono: "JetBrains Mono", monospace;

  --nc-tx-1: #cdd6f4;
  --nc-tx-2: #eeeeee;
  --nc-bg-1: #1e1e2e;
  --nc-bg-2: #181825;
  --nc-bg-3: #11111b;
  --nc-lk-1: #74c7ec;
  --nc-lk-2: #89b4fa;
  --nc-lk-tx: #cdd6f4;
  --nc-ac-1: #b4befe;
  --nc-ac-tx: #11111b;
}

mark.wou {
  background-color: goldenrod;
  color: #fff;
  font-weight: bold;
}


.pkmn {
  float: right;
  margin-top: -165px;
}

@media only screen and (max-width: 600px) {
  .pkmn {
    display: none;
  }
}